* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: black;
}

.Yqczp {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between
}

.Nbhjoc {
    flex-direction: row
}

.LfYxrf {
    display: flex;
    justify-content: center;
    margin: 16px 0 16px 16px
}

.Nbhjoc .LfYxrf {
    margin: 16px 16px 16px
}

.NL23xd {
    flex-grow: 1;
    width: 0;
    padding: 16px 0 40px;
    position: relative
}

.Nbhjoc .NL23xd {
    margin: 16px 16px 16px
}

.Yqczp {
    padding-left: 16px;
    padding-right: 16px
}

.ftSUBd {
    display: block;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    box-shadow: none;
    margin-bottom: 16px
}

.JQe2Ld {
    font-size: 18px;
    line-height: 1.3333333333333333em
}

@keyframes qli-container-rotate {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes qli-fill-unfill-rotate {
    0% {
        transform: rotate(0)
    }
    12.5% {
        transform: rotate(135deg)
    }
    25% {
        transform: rotate(270deg)
    }
    37.5% {
        transform: rotate(405deg)
    }
    50% {
        transform: rotate(540deg)
    }
    62.5% {
        transform: rotate(675deg)
    }
    75% {
        transform: rotate(810deg)
    }
    87.5% {
        transform: rotate(945deg)
    }
    100% {
        transform: rotate(1080deg)
    }
}

@keyframes qli-blue-fade-in-out {
    0% {
        opacity: 0.99
    }
    25% {
        opacity: 0.99
    }
    26% {
        opacity: 0
    }
    89% {
        opacity: 0
    }
    90% {
        opacity: 0.99
    }
    100% {
        opacity: 0.99
    }
}

@keyframes qli-red-fade-in-out {
    0% {
        opacity: 0
    }
    15% {
        opacity: 0
    }
    25% {
        opacity: 0.99
    }
    50% {
        opacity: 0.99
    }
    51% {
        opacity: 0
    }
}

@keyframes qli-yellow-fade-in-out {
    0% {
        opacity: 0
    }
    40% {
        opacity: 0
    }
    50% {
        opacity: 0.99
    }
    75% {
        opacity: 0.99
    }
    76% {
        opacity: 0
    }
}

@keyframes qli-green-fade-in-out {
    0% {
        opacity: 0
    }
    65% {
        opacity: 0
    }
    75% {
        opacity: 0.99
    }
    90% {
        opacity: 0.99
    }
    100% {
        opacity: 0
    }
}

@keyframes qli-left-spin {
    0% {
        transform: rotate(130deg)
    }
    50% {
        transform: rotate(-5deg)
    }
    100% {
        transform: rotate(130deg)
    }
}

@keyframes qli-right-spin {
    0% {
        transform: rotate(-130deg)
    }
    50% {
        transform: rotate(5deg)
    }
    100% {
        transform: rotate(-130deg)
    }
}

.I5ckQ {
    margin-top: 4px
}

.I5ckQ .AH9JJb {
    color: #202124
}

.mIKy0c {
    cursor: pointer;
    display: block;
    font-weight: 400;
    line-height: 18px;
    white-space: nowrap
}

.mIKy0c.dGWpb {
    overflow: visible
}

.EZRelc {
    color: #70757a;
    float: left;
    margin-top: -2px;
    margin-bottom: -2px
}

.EZRelc .z1asCe {
    float: left
}

.wUrVib {
    color: #202124;
    white-space: nowrap;
    width: auto
}

.mIKy0c {
    font-size: 16px;
    line-height: 1.43
}

.EZRelc {
    color: #1a0dab;
    flex: none
}

.wUrVib {
    color: #1a0dab;
    white-space: initial
}

g-more-link.dGWpb {
    cursor: initial;
    text-align: center
}

.MXl0lf {
    background: #fff;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    pointer-events: auto;
    position: relative;
    width: 300px;
    padding: 7px 11px;
    height: 36px;
    border-radius: 18px;
}

.MXl0lf:hover {
    background: #fafafa;
}

.pb5vrc {
    background-color: #dadce0;
    border: 0;
    height: 1px;
    left: 0;
    margin-top: 18px;
    position: absolute;
    width: 100%
}

.MXl0lf .EZRelc {
    margin-top: 0px
}

.MXl0lf .z1asCe {
    left: 12px;
    position: absolute;
    height: 20px;
    width: 20px
}

.MXl0lf .wUrVib {
    display: inline-block;
    max-width: 220px;
    white-space: nowrap;
}

.U56OG {
    margin-right: 8px
}

.zJUuqf {
    margin-bottom: 4px
}

.AB4Wff {
    margin-left: 16px
}

.BDp8nf {
    margin-right: -8px
}

.hObAcc {
    margin-left: 4px;
    margin-right: 4px
}

.gTewb {
    padding-left: 8px;
    padding-right: 8px
}

.U8shWc {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding-top: 6px;
    padding-bottom: 3px;
    min-width: 88px;
    position: relative;
    text-decoration: none !important;
    -webkit-user-select: none;
    white-space: nowrap
}

.U8shWc:disabled,
.U8shWc[disabled]:not([disabled=false]) {
    pointer-events: none
}

.U8shWc.fSXIc {
    min-width: 64px
}

.U8shWc.hpZDWd {
    color: #fff
}

.hpZDWd:hover {
    background-color: rgba(204, 204, 204, .15)
}

.hpZDWd:focus {
    background-color: rgba(204, 204, 204, .15)
}

.hpZDWd:active {
    background-color: rgba(204, 204, 204, .25)
}

.U8shWc.hpZDWd:disabled,
.U8shWc.hpZDWd[disabled]:not([disabled=false]) {
    color: rgba(255, 255, 255, .30) !important
}

.AaVjTc a:link {
    display: block;
    color: #4285f4;
    font-weight: normal
}

.AaVjTc td {
    padding: 0;
    text-align: center
}

.YyVfkd {
    color: #202124;
    font-weight: normal;
}

.AaVjTc {
    margin: 30px auto 30px
}

.SJajHc {
    background: url(/images/nav_logo321_hr.webp) no-repeat;
    background-size: 167px;
    overflow: hidden;
    background-position: 0 0;
    height: 40px;
    display: block
}

.NVbCr {
    cursor: pointer
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
}