* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: black;
}

#main .content {
    width: 100%;
    height: 250px;
    display: flex;
    margin-top: 50px;
}

#main .content .tin_tuc {
    width: 50%;
    height: 250px;
    /* background-color: blue; */
    margin: 20px auto;
    padding-left: 50px;
    display: flex;
}

#main .tin_tuc img {
    height: 90%;
}

#main .tin_tuc .noi_dung {
    height: 50%;
    line-height: 50%;
    font-size: 20px;
    margin: auto 20px;
}

#main .tin_tuc .noi_dung a {
    display: inline-block;
    height: 30%;
    line-height: 30%;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
}