<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Index</title>

    <link rel="stylesheet" href="../static/style_index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../static/chart.js"></script>
</head>
<body>
    <!-- Begin menu  -->   
    <div id="menu">
            <ul class="menu_item">
                <img src="../static/images/Capture.svg" alt="">
                <li><a href="index.html">
                    Trang Chủ</a></li>
                <li><a href="tin_tuc.html">Tin Tức</a></li>
                <li><a href="tiem_chung.html">Tiêm Chủng</a></li>
            </ul>
    </div>   
    <div id='header'>
        <div class = header_all>
                <span class = header_img>
                    <img src="https://photo-cms-anninhthudo.zadn.vn/h600/Uploaded/2021/206/2020_03_19/sticker-chung-tay-day-lui-corona_6.png" height="550px" width="100%" alt="">
                </span>
                <div class=header_full>
                    <div class=header_slogan>
                        <p>Cùng chung tay thắp lên hi vọng đẩy lùi</p>
                        <span class = header_slogan-text>
                            <p>COVID-19</p>
                        </span>
                        
                    </div>
                    <div class = header_list>
                            <input type="text" placeholder="Nhập để tìm kiếm...">
                    <div class = header_list-icon>
                            <i class="fas fa-search"></i>
                    </div>    
                    </div>
                </div>
        </div>
    </div>

    <div id="content">
         <!-- Chart -->
        <div id="info">
            <div id="chart_covid"></div>
            <div id="table_covid">
                <table>
                    <tr>
                        <td><strong>Country</strong></td>
                        <td>VietNam</td>
                    </tr>
                    <tr>
                        <td><strong>Confirmed</strong></td>
                        <td>905477</td>
                    </tr>
                    <tr>
                        <td><strong>Deaths</strong></td>
                        <td>21910</td>
                    </tr>
                        <tr>
                        <td><strong>Recovered</strong></td>
                        <td>813963</td>
                    </tr>
                </table>
            </div> 
        </div>

         <!-- Info Table -->
        <div class="info_table">
            <table>
                <tr>
                  <th>
                      <i class="fa fa-globe" aria-hidden="true"></i>
                      Quốc Gia
                  </th>
                  <th>Ca Nhiễm</th>
                  <th>Tử Vong</th>
                  <th>Phục Hồi</th>
                </tr>
                <tr>
                    <td>Toàn thế giới</td>
                    <td>10000</td>
                    <td>10000</td>
                    <td>10000</td>
                  </tr>
                <tr>
                  <td>Việt Nam</td>
                  <td>10000</td>
                  <td>10000</td>
                  <td>10000</td>
                </tr>
                <tr>
                    <td>Trung Quốc</td>
                    <td>10000</td>
                    <td>10000</td>
                    <td>10000</td>
                </tr>
                <tr>
                    <td>Mỹ</td>
                    <td>10000</td>
                    <td>10000</td>
                    <td>10000</td>
                </tr>
                <tr>
                    <td>Canada</td>
                    <td>10000</td>
                    <td>10000</td>
                    <td>10000</td>
                </tr>
                <tr>
                    <td>France</td>
                    <td>10000</td>
                    <td>10000</td>
                    <td>10000</td>
                </tr>
                <tr>
                    <td>Spain</td>
                    <td>10000</td>
                    <td>10000</td>
                    <td>10000</td>
                </tr>
                <tr>
                    <td>Australia</td>
                    <td>10000</td>
                    <td>10000</td>
                    <td>10000</td>
                </tr>
                <tr>
                    <td>Russia</td>
                    <td>10000</td>
                    <td>10000</td>
                    <td>10000</td>
                </tr>
                <tr>
                    <td>Singapore</td>
                    <td>10000</td>
                    <td>10000</td>
                    <td>10000</td>
                </tr>
              </table>
              <span>Thông tin về dữ liệu này * Nguồn:
                  <a href="https://www.worldometers.info/">Worldometers</a> </span>
        </div>
    </div>
   


    <!-- End menu  -->
    <div id="footer">
        <div class="footer_left">
            <img src="" alt="">
            <ul class="address"> 
                <li >
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>District 1, Ho Chi Minh</span> 
                </li>
                <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>03286999999</span>    
                </li>              
                <li>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>CovidNews@gmail.com</span>
                </li>
            </ul>
        </div>
        <div class="footer_center">
           <ul>
                <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
                <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                <li><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
           </ul>
           <span>
                Copyright @ 2021 CovidNews
            </span>
        </div>
        <div class="footer_right">
            <img src="../static/images/hinhfooter.png" alt="">
        </div>

    </div>
</body>

</html>