<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Index</title>

    <link rel="stylesheet" href="../static/style_index.css">
    <link rel="stylesheet" href="../fontawesome-free-5.15.4-web/css/all.css">
</head>
<body>
    <!-- Begin menu  -->
    <div id=main>    
        <div class="menu">
            <h1 class=header>
                <i class="fas fa-virus"></i>
                <a>COVID-19</a>
            </h1>
            <div class = alo >
                <h2 class=header_one>
                    <a>Tin tức</a>
                </h2>
                <h3 class=header_one>
                    <a>Trang hai</a> 
                </h3>
            </div>
            <div class = header_item>
                <div class = timkiem>
                    <input class = hop type="text" placeholder="Nhập để tìm kiếm...">
                    <i class="fas fa-search icon"></i>
                </div>
            </div>
        </div>       
    </div>
    <!-- End menu  -->
    <div id="footer">
        
    </div>
</body>

</html>

