<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang 2</title>

    <link rel="stylesheet" href="../static/style_tiem_chung.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
     <!-- Begin menu  -->   
    <div id="menu">
        <ul class="menu_item">
            <img src="../static/images/Capture.svg" alt="">
            <li><a href="index.html">
                Trang Chủ</a></li>
            <li><a href="tin_tuc.html">Tin Tức</a></li>
            <li><a href="tiem_chung.html">Tiêm Chủng</a></li>
        </ul>
    </div>  
    <div id="banner">
        <img src="../static/images/tiem_chung_2.jpg" alt="">
        <a href="https://tiemchungcovid19.gov.vn/portal/register-person">
            <button>
                ĐĂNG KÝ<br> TIÊM CHỦNG
            </button>
        </a>
        <i class="fa fa-hand-o-up" aria-hidden="true"></i>
    </div>
</body>
</html>