<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin Tức</title>

    <link rel="stylesheet" href="../static/style_tintuc.css">
    <script language="javascript" src="../product-news/all.js"></script>
</head>

<body>
    <div id="main">
        <div class="tin_tuc">
            <img src="" alt="">
            <div class="noi_dung">
                <a href="">Ngày 29/10, thêm 4000 ca mắc covid trong nước</a>
                <p>Bộ Y tế ...</p>
            </div>
        </div>
    </div>
</body>

</html>