<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin Tức</title>

    <link rel="stylesheet" href="../static/style_tintuc.css">
    <script language="javascript" src="../product-news/all.js"></script>
</head>

<body>
    <div id="main">
        <div class="content">
            <div class="tin_tuc">
                <a href="https://www.24h.com.vn/tin-tuc-trong-ngay/ngay-29-10-them-4889-ca-mac-covid-19-trong-nuoc-c46a1302050.html"><img src="../static/images/anh1.jpg" alt=""></a>
                <div class="noi_dung">
                    <a href="https://www.24h.com.vn/tin-tuc-trong-ngay/ngay-29-10-them-4889-ca-mac-covid-19-trong-nuoc-c46a1302050.html">Ngày 29/10, thêm 4.889 ca mắc covid trong nước</a>
                    <p>Bộ Y tế vừa thông báo ghi nhận 4.889 ca mắc COVID-19 ghi nhận trong nước (tăng 13 ca so với ngày trước đó) tại 50 tỉnh, thành phố(có 2.305...) </p>
                </div>
            </div>
            <div class="tin_tuc">
                <a href="https://vnexpress.net/them-800-000-lieu-vaccine-covid-19-tu-australia-4378843.html"><img src="../static/images/vacxin-covid-19.jpg" alt=""></a>
                <div class="noi_dung">
                    <a href="https://vnexpress.net/them-800-000-lieu-vaccine-covid-19-tu-australia-4378843.html">Thêm 800 liều vaccine Covid-19 từ Australia</a>
                    <p>Đại sứ quán Australia ngày 29/10 bàn giao thêm 800.000 liều vaccine Covid-19 AstraZeneca cho Việt Nam.-VnExpress.</p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="tin_tuc">
                <a href="https://www.24h.com.vn/tin-tuc-trong-ngay/ngay-29-10-them-4889-ca-mac-covid-19-trong-nuoc-c46a1302050.html"><img src="../static/images/anh1.jpg" alt=""></a>
                <div class="noi_dung">
                    <a href="https://www.24h.com.vn/tin-tuc-trong-ngay/ngay-29-10-them-4889-ca-mac-covid-19-trong-nuoc-c46a1302050.html">Ngày 29/10, thêm 4000 ca mắc covid trong nước</a>
                    <p>Bộ Y tế ...</p>
                </div>
            </div>
            <div class="tin_tuc">
                <a href="https://www.24h.com.vn/tin-tuc-trong-ngay/ngay-29-10-them-4889-ca-mac-covid-19-trong-nuoc-c46a1302050.html"><img src="../static/images/anh1.jpg" alt=""></a>
                <div class="noi_dung">
                    <a href="https://www.24h.com.vn/tin-tuc-trong-ngay/ngay-29-10-them-4889-ca-mac-covid-19-trong-nuoc-c46a1302050.html">Ngày 29/10, thêm 4000 ca mắc covid trong nước</a>
                    <p>Bộ Y tế ...</p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="tin_tuc">
                <a href="https://www.24h.com.vn/tin-tuc-trong-ngay/ngay-29-10-them-4889-ca-mac-covid-19-trong-nuoc-c46a1302050.html"><img src="../static/images/anh1.jpg" alt=""></a>
                <div class="noi_dung">
                    <a href="https://www.24h.com.vn/tin-tuc-trong-ngay/ngay-29-10-them-4889-ca-mac-covid-19-trong-nuoc-c46a1302050.html">Ngày 29/10, thêm 4000 ca mắc covid trong nước</a>
                    <p>Bộ Y tế ...</p>
                </div>
            </div>
            <div class="tin_tuc">
                <a href="https://www.24h.com.vn/tin-tuc-trong-ngay/ngay-29-10-them-4889-ca-mac-covid-19-trong-nuoc-c46a1302050.html"><img src="../static/images/anh1.jpg" alt=""></a>
                <div class="noi_dung">
                    <a href="https://www.24h.com.vn/tin-tuc-trong-ngay/ngay-29-10-them-4889-ca-mac-covid-19-trong-nuoc-c46a1302050.html">Ngày 29/10, thêm 4000 ca mắc covid trong nước</a>
                    <p>Bộ Y tế ...</p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>